openapi: 3.0.3
info:
  contact:
    email: support@igeolise.com
    name: API Support
  termsOfService: https://www.traveltime.com/terms-and-conditions
  title: TravelTime API
  version: 1.2.3
externalDocs:
  url: http://docs.traveltime.com
servers:
- url: https://api.traveltimeapp.com
security:
- ApplicationId: []
  ApiKey: []
paths:
  /v4/geocoding/reverse:
    get:
      externalDocs:
        url: http://docs.traveltime.com/reference/geocoding-reverse
      operationId: geocoding_reverse_search
      parameters:
      - explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: lng
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: within.country
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeocoding'
          description: Match a query string to geographic coordinates. [Docs link](http://docs.traveltime.com/reference/geocoding-search/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/geocoding/search:
    get:
      externalDocs:
        url: http://docs.traveltime.com/reference/geocoding-search
      operationId: geocoding_search
      parameters:
      - explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: focus.lat
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: focus.lng
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: within.country
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeocoding'
          description: Match a query string to geographic coordinates. [Docs link](http://docs.traveltime.com/reference/geocoding-search/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/map-info:
    get:
      externalDocs:
        url: http://docs.traveltime.com/reference/map-info
      operationId: map_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMapInfo'
          description: Returns information about currently supported countries. [Docs
            link](http://docs.traveltime.com/reference/map-info/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/routes:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/routes
      operationId: routes
      requestBody:
        $ref: '#/components/requestBodies/Routes'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoutes'
          description: Returns routing information between source and destinations.
            [Docs link](http://docs.traveltime.com/reference/routes/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/supported-locations:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/supported-locations
      operationId: supported_locations
      requestBody:
        $ref: '#/components/requestBodies/SupportedLocations'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSupportedLocations'
          description: Find out what points are supported by our api. [Docs link](http://docs.traveltime.com/reference/supported-locations/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-filter:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/time-filter
      operationId: time_filter
      requestBody:
        $ref: '#/components/requestBodies/TimeFilter'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilter'
          description: Given origin and destination points filter out points that
            cannot be reached within specified time limit. [Docs link](http://docs.traveltime.com/reference/time-filter)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-filter/fast:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/time-filter-fast
      operationId: time_filter_fast
      requestBody:
        $ref: '#/components/requestBodies/TimeFilterFast'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterFast'
          description: A very fast version of Time Filter. [Docs link](http://docs.traveltime.com/reference/time-filter-fast/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-filter/postcode-districts:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/postcode-search
      operationId: time_filter_postcode_districts
      requestBody:
        $ref: '#/components/requestBodies/TimeFilterPostcodeDistricts'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistricts'
          description: Find districts that have a certain coverage from origin and
            get statistics about postcodes within such districts. [Docs link](http://docs.traveltime.com/reference/postcode-district-filter/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-filter/postcode-sectors:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/postcode-sector-filter
      operationId: time_filter_postcode_sectors
      requestBody:
        $ref: '#/components/requestBodies/TimeFilterPostcodeSectors'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodeSectors'
          description: Find sectors that have a certain coverage from origin and get
            statistics about postcodes within such sectors. [Docs link](http://docs.traveltime.com/reference/postcode-sector-filter/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-filter/postcodes:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/postcode-search
      operationId: time_filter_postcodes
      requestBody:
        $ref: '#/components/requestBodies/TimeFilterPostcodes'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodes'
          description: Find reachable postcodes from origin and get statistics about
            such postcodes. [Docs link](http://docs.traveltime.com/reference/postcode-search/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v4/time-map:
    post:
      externalDocs:
        url: http://docs.traveltime.com/reference/time-map
      operationId: time_map
      requestBody:
        $ref: '#/components/requestBodies/TimeMap'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMap'
            application/vnd.wkt+json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapWkt'
            application/vnd.wkt-no-holes+json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapWkt'
            application/vnd.bounding-boxes+json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapBoundingBoxes'
          description: Given origin coordinates, find shapes of zones reachable within
            corresponding travel time. [Docs link](http://docs.traveltime.com/reference/time-map/)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    GeocodingWithinCountry:
      explode: true
      in: query
      name: within.country
      required: false
      schema:
        type: string
      style: form
    GeocodingQuery:
      explode: true
      in: query
      name: query
      required: true
      schema:
        type: string
      style: form
    GeocodingFocusLat:
      explode: true
      in: query
      name: focus.lat
      required: false
      schema:
        format: double
        type: number
      style: form
    GeocodingFocusLng:
      explode: true
      in: query
      name: focus.lng
      required: false
      schema:
        format: double
        type: number
      style: form
    GeocodingReverseLat:
      explode: true
      in: query
      name: lat
      required: true
      schema:
        format: double
        type: number
      style: form
    GeocodingReverseLng:
      explode: true
      in: query
      name: lng
      required: true
      schema:
        format: double
        type: number
      style: form
  requestBodies:
    TimeFilter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeFilter'
      required: true
    TimeFilterPostcodes:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeFilterPostcodes'
      required: true
    TimeFilterPostcodeDistricts:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistricts'
      required: true
    TimeFilterPostcodeSectors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectors'
      required: true
    TimeFilterFast:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeFilterFast'
      required: true
    Routes:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestRoutes'
      required: true
    TimeMap:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestTimeMap'
      required: true
    SupportedLocations:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestSupportedLocations'
      required: true
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'
      description: The json body returned upon error. [Docs link](http://docs.traveltime.com/reference/error-response)
    TimeFilter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeFilter'
      description: Given origin and destination points filter out points that cannot
        be reached within specified time limit. [Docs link](http://docs.traveltime.com/reference/time-filter)
    TimeFilterPostcodes:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodes'
      description: Find reachable postcodes from origin and get statistics about such
        postcodes. [Docs link](http://docs.traveltime.com/reference/postcode-search/)
    TimeFilterPostcodeDistricts:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistricts'
      description: Find districts that have a certain coverage from origin and get
        statistics about postcodes within such districts. [Docs link](http://docs.traveltime.com/reference/postcode-district-filter/)
    TimeFilterPostcodeSectors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeSectors'
      description: Find sectors that have a certain coverage from origin and get statistics
        about postcodes within such sectors. [Docs link](http://docs.traveltime.com/reference/postcode-sector-filter/)
    TimeFilterFast:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeFilterFast'
      description: A very fast version of Time Filter. [Docs link](http://docs.traveltime.com/reference/time-filter-fast/)
    Routes:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseRoutes'
      description: Returns routing information between source and destinations. [Docs
        link](http://docs.traveltime.com/reference/routes/)
    Geocoding:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseGeocoding'
      description: Match a query string to geographic coordinates. [Docs link](http://docs.traveltime.com/reference/geocoding-search/)
    TimeMap:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseTimeMap'
        application/vnd.wkt+json:
          schema:
            $ref: '#/components/schemas/ResponseTimeMapWkt'
        application/vnd.wkt-no-holes+json:
          schema:
            $ref: '#/components/schemas/ResponseTimeMapWkt'
        application/vnd.bounding-boxes+json:
          schema:
            $ref: '#/components/schemas/ResponseTimeMapBoundingBoxes'
      description: Given origin coordinates, find shapes of zones reachable within
        corresponding travel time. [Docs link](http://docs.traveltime.com/reference/time-map/)
    MapInfo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseMapInfo'
      description: Returns information about currently supported countries. [Docs
        link](http://docs.traveltime.com/reference/map-info/)
    SupportedLocations:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseSupportedLocations'
      description: Find out what points are supported by our api. [Docs link](http://docs.traveltime.com/reference/supported-locations/)
  schemas:
    Coords:
      example:
        lng: 9.301444243932576
        lat: 7.061401241503109
      properties:
        lat:
          format: double
          title: lat
          type: number
        lng:
          format: double
          title: lng
          type: number
      required:
      - lat
      - lng
      title: Coords
      type: object
    RequestSearchId:
      title: id
      type: string
    RequestDepartureArrivalLocationOne:
      type: string
    RequestTravelTime:
      maximum: 14400
      minimum: 60
      title: travel_time
      type: integer
    RequestDepartureArrivalTime:
      format: date-time
      title: departure_time
      type: string
    ResponseLocalTime:
      title: departs_at
      type: string
    RequestRoutesProperty:
      enum:
      - travel_time
      - distance
      - fares
      - route
      title: RequestRoutesProperty
      type: string
    RequestTimeFilterProperty:
      enum:
      - travel_time
      - distance
      - distance_breakdown
      - fares
      - route
      title: RequestTimeFilterProperty
      type: string
    RequestRangeEnabled:
      title: enabled
      type: boolean
    RequestRangeWidth:
      maximum: 43200
      minimum: 1
      title: width
      type: integer
    RequestRangeFull:
      example:
        width: 40182
        max_results: 3
        enabled: true
      properties:
        enabled:
          title: enabled
          type: boolean
        max_results:
          maximum: 5
          minimum: 1
          title: max_results
          type: integer
        width:
          maximum: 43200
          minimum: 1
          title: width
          type: integer
      required:
      - enabled
      - max_results
      - width
      title: RequestRangeFull
      type: object
    RequestRangeNoMaxResults:
      example:
        width: 26039
        enabled: true
      properties:
        enabled:
          title: enabled
          type: boolean
        width:
          maximum: 43200
          minimum: 1
          title: width
          type: integer
      required:
      - enabled
      - width
      title: RequestRangeNoMaxResults
      type: object
    RequestTimeFilterPostcodesProperty:
      enum:
      - travel_time
      - distance
      title: RequestTimeFilterPostcodesProperty
      type: string
    RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold:
      format: double
      title: reachable_postcodes_threshold
      type: number
    RequestTimeFilterPostcodeDistrictsProperty:
      enum:
      - travel_time_reachable
      - travel_time_all
      - coverage
      title: RequestTimeFilterPostcodeDistrictsProperty
      type: string
    RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold:
      format: double
      title: reachable_postcodes_threshold
      type: number
    RequestTimeFilterPostcodeSectorsProperty:
      enum:
      - travel_time_reachable
      - travel_time_all
      - coverage
      title: RequestTimeFilterPostcodeSectorsProperty
      type: string
    RequestTimeFilterPostcodeSectorsDepartureSearch:
      example:
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 1208
        departure_time: 2000-01-23T04:56:07.000+00:00
        reachable_postcodes_threshold: 6.027456183070403
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        departure_time:
          format: date-time
          title: departure_time
          type: string
        reachable_postcodes_threshold:
          format: double
          title: reachable_postcodes_threshold
          type: number
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - coords
      - departure_time
      - id
      - properties
      - reachable_postcodes_threshold
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodeSectorsDepartureSearch
      type: object
    RequestTimeFilterPostcodeSectorsArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 2161
        reachable_postcodes_threshold: 5.962133916683182
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        reachable_postcodes_threshold:
          format: double
          title: reachable_postcodes_threshold
          type: number
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_time
      - coords
      - id
      - properties
      - reachable_postcodes_threshold
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodeSectorsArrivalSearch
      type: object
    RequestTimeFilterPostcodeDistrictsDepartureSearch:
      example:
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 1208
        departure_time: 2000-01-23T04:56:07.000+00:00
        reachable_postcodes_threshold: 6.027456183070403
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        departure_time:
          format: date-time
          title: departure_time
          type: string
        reachable_postcodes_threshold:
          format: double
          title: reachable_postcodes_threshold
          type: number
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - coords
      - departure_time
      - id
      - properties
      - reachable_postcodes_threshold
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodeDistrictsDepartureSearch
      type: object
    RequestTimeFilterPostcodeDistrictsArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 2161
        reachable_postcodes_threshold: 5.962133916683182
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        reachable_postcodes_threshold:
          format: double
          title: reachable_postcodes_threshold
          type: number
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_time
      - coords
      - id
      - properties
      - reachable_postcodes_threshold
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodeDistrictsArrivalSearch
      type: object
    RequestTimeFilterPostcodesDepartureSearch:
      example:
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 1208
        departure_time: 2000-01-23T04:56:07.000+00:00
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        departure_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - coords
      - departure_time
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodesDepartureSearch
      type: object
    RequestTimeFilterPostcodesArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 8703
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_time
      - coords
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterPostcodesArrivalSearch
      type: object
    RequestTimeFilterDepartureSearch:
      example:
        arrival_location_ids:
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        departure_location_id: departure_location_id
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 1208
        departure_time: 2000-01-23T04:56:07.000+00:00
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        departure_location_id:
          title: departure_location_id
          type: string
        arrival_location_ids:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          title: arrival_location_ids
          type: array
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        departure_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_location_ids
      - departure_location_id
      - departure_time
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterDepartureSearch
      type: object
    RequestTimeFilterArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        departure_location_ids:
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        arrival_location_id: arrival_location_id
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        travel_time: 8703
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        departure_location_ids:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          title: departure_location_ids
          type: array
        arrival_location_id:
          title: arrival_location_id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_location_id
      - arrival_time
      - departure_location_ids
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterArrivalSearch
      type: object
    RequestArrivalTimePeriod:
      enum:
      - weekday_morning
      title: RequestArrivalTimePeriod
      type: string
    RequestTimeFilterFastProperty:
      enum:
      - travel_time
      - fares
      title: RequestTimeFilterFastProperty
      type: string
    RequestTimeFilterFastArrivalManyToOneSearch:
      example:
        departure_location_ids:
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        - departure_location_ids
        arrival_location_id: arrival_location_id
        id: id
        travel_time: 1208
        properties:
        - null
        - null
        transportation:
          type: public_transport
      properties:
        id:
          title: id
          type: string
        arrival_location_id:
          title: arrival_location_id
          type: string
        departure_location_ids:
          items:
            type: string
          maxItems: 100000
          minItems: 1
          title: departure_location_ids
          type: array
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'
          title: properties
          type: array
      required:
      - arrival_location_id
      - arrival_time_period
      - departure_location_ids
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterFastArrivalManyToOneSearch
      type: object
    RequestTimeFilterFastArrivalOneToManySearch:
      example:
        arrival_location_ids:
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        - arrival_location_ids
        departure_location_id: departure_location_id
        id: id
        travel_time: 8703
        properties:
        - null
        - null
        transportation:
          type: public_transport
      properties:
        id:
          title: id
          type: string
        departure_location_id:
          title: departure_location_id
          type: string
        arrival_location_ids:
          items:
            type: string
          maxItems: 100000
          minItems: 1
          title: arrival_location_ids
          type: array
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'
          title: properties
          type: array
      required:
      - arrival_location_ids
      - arrival_time_period
      - departure_location_id
      - id
      - properties
      - transportation
      - travel_time
      title: RequestTimeFilterFastArrivalOneToManySearch
      type: object
    RequestTransportationFast:
      example:
        type: public_transport
      properties:
        type:
          enum:
          - public_transport
          - driving
          - driving+public_transport
          title: type
          type: string
      required:
      - type
      title: RequestTransportationFast
      type: object
    RequestRoutesDepartureSearch:
      example:
        arrival_location_ids:
        - arrival_location_ids
        - arrival_location_ids
        departure_location_id: departure_location_id
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        departure_time: 2000-01-23T04:56:07.000+00:00
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        departure_location_id:
          title: departure_location_id
          type: string
        arrival_location_ids:
          items:
            type: string
          maxItems: 2
          minItems: 1
          title: arrival_location_ids
          type: array
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        departure_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_location_ids
      - departure_location_id
      - departure_time
      - id
      - properties
      - transportation
      title: RequestRoutesDepartureSearch
      type: object
    RequestRoutesArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        departure_location_ids:
        - departure_location_ids
        - departure_location_ids
        arrival_location_id: arrival_location_id
        range:
          width: 40182
          max_results: 3
          enabled: true
        id: id
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        departure_location_ids:
          items:
            type: string
          maxItems: 2
          minItems: 1
          title: departure_location_ids
          type: array
        arrival_location_id:
          title: arrival_location_id
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeFull'
      required:
      - arrival_location_id
      - arrival_time
      - departure_location_ids
      - id
      - properties
      - transportation
      title: RequestRoutesArrivalSearch
      type: object
    RequestTimeFilter:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        departure_searches:
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        locations:
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RequestLocation'
          minItems: 1
          type: array
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterArrivalSearch'
          maxItems: 10
          type: array
      required:
      - locations
      type: object
    RequestTimeFilterPostcodes:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        departure_searches:
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
      properties:
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesArrivalSearch'
          maxItems: 10
          type: array
      type: object
    RequestTimeFilterPostcodeDistricts:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        departure_searches:
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
      properties:
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsArrivalSearch'
          maxItems: 10
          type: array
      type: object
    RequestTimeFilterPostcodeSectors:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 2161
          reachable_postcodes_threshold: 5.962133916683182
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        departure_searches:
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          reachable_postcodes_threshold: 6.027456183070403
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
      properties:
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsArrivalSearch'
          maxItems: 10
          type: array
      type: object
    RequestTimeFilterFastArrivalSearches:
      example:
        many_to_one:
        - departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          id: id
          travel_time: 1208
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          id: id
          travel_time: 1208
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          id: id
          travel_time: 1208
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          id: id
          travel_time: 1208
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          id: id
          travel_time: 1208
          properties:
          - null
          - null
          transportation:
            type: public_transport
        one_to_many:
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            type: public_transport
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          id: id
          travel_time: 8703
          properties:
          - null
          - null
          transportation:
            type: public_transport
      properties:
        many_to_one:
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalManyToOneSearch'
          maxItems: 10
          title: many_to_one
          type: array
        one_to_many:
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalOneToManySearch'
          maxItems: 10
          title: one_to_many
          type: array
      title: RequestTimeFilterFastArrivalSearches
      type: object
    RequestTimeFilterFast:
      example:
        arrival_searches:
          many_to_one:
          - departure_location_ids:
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            arrival_location_id: arrival_location_id
            id: id
            travel_time: 1208
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - departure_location_ids:
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            arrival_location_id: arrival_location_id
            id: id
            travel_time: 1208
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - departure_location_ids:
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            arrival_location_id: arrival_location_id
            id: id
            travel_time: 1208
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - departure_location_ids:
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            arrival_location_id: arrival_location_id
            id: id
            travel_time: 1208
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - departure_location_ids:
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            - departure_location_ids
            arrival_location_id: arrival_location_id
            id: id
            travel_time: 1208
            properties:
            - null
            - null
            transportation:
              type: public_transport
          one_to_many:
          - arrival_location_ids:
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            departure_location_id: departure_location_id
            id: id
            travel_time: 8703
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - arrival_location_ids:
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            departure_location_id: departure_location_id
            id: id
            travel_time: 8703
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - arrival_location_ids:
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            departure_location_id: departure_location_id
            id: id
            travel_time: 8703
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - arrival_location_ids:
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            departure_location_id: departure_location_id
            id: id
            travel_time: 8703
            properties:
            - null
            - null
            transportation:
              type: public_transport
          - arrival_location_ids:
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            - arrival_location_ids
            departure_location_id: departure_location_id
            id: id
            travel_time: 8703
            properties:
            - null
            - null
            transportation:
              type: public_transport
        locations:
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RequestLocation'
          minItems: 1
          type: array
        arrival_searches:
          $ref: '#/components/schemas/RequestTimeFilterFastArrivalSearches'
      required:
      - arrival_searches
      - locations
      type: object
    RequestRoutes:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          departure_location_ids:
          - departure_location_ids
          - departure_location_ids
          arrival_location_id: arrival_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        departure_searches:
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_location_ids:
          - arrival_location_ids
          - arrival_location_ids
          departure_location_id: departure_location_id
          range:
            width: 40182
            max_results: 3
            enabled: true
          id: id
          departure_time: 2000-01-23T04:56:07.000+00:00
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        locations:
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
        - id: id
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RequestLocation'
          minItems: 1
          type: array
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestRoutesDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestRoutesArrivalSearch'
          maxItems: 10
          type: array
      required:
      - locations
      type: object
    RequestTimeMapProperty:
      enum:
      - is_only_walking
      title: RequestTimeMapProperty
      type: string
    RequestLevelOfDetail:
      example:
        level: lowest
        scale_type: simple
      properties:
        scale_type:
          enum:
          - simple
          title: scale_type
          type: string
        level:
          enum:
          - lowest
          - low
          - medium
          - high
          - highest
          title: level
          type: string
      required:
      - level
      - scale_type
      title: RequestLevelOfDetail
      type: object
    RequestUnionOnIntersection:
      example:
        id: id
        search_ids:
        - search_ids
        - search_ids
      properties:
        id:
          title: id
          type: string
        search_ids:
          items:
            type: string
          title: search_ids
          type: array
      required:
      - id
      - search_ids
      title: RequestUnionOnIntersection
      type: object
    RequestTimeMapDepartureSearch:
      example:
        range:
          width: 26039
          enabled: true
        level_of_detail:
          level: lowest
          scale_type: simple
        id: id
        travel_time: 1208
        departure_time: 2000-01-23T04:56:07.000+00:00
        coords:
          lng: 9.301444243932576
          lat: 7.061401241503109
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        departure_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
      required:
      - coords
      - departure_time
      - id
      - transportation
      - travel_time
      title: RequestTimeMapDepartureSearch
      type: object
    RequestTimeMapArrivalSearch:
      example:
        arrival_time: 2000-01-23T04:56:07.000+00:00
        range:
          width: 26039
          enabled: true
        level_of_detail:
          level: lowest
          scale_type: simple
        id: id
        travel_time: 2161
        coords:
          lng: 9.301444243932576
          lat: 7.061401241503109
        properties:
        - null
        - null
        transportation:
          pt_change_delay: 0
          boarding_time: 2
          driving_time_to_station: 1
          disable_border_crossing: true
          cycling_time_to_station: 5
          type: cycling
          walking_time: 6
          parking_time: 5
      properties:
        id:
          title: id
          type: string
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          maximum: 14400
          minimum: 60
          title: travel_time
          type: integer
        arrival_time:
          format: date-time
          title: departure_time
          type: string
        properties:
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
          title: properties
          type: array
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
      required:
      - arrival_time
      - coords
      - id
      - transportation
      - travel_time
      title: RequestTimeMapArrivalSearch
      type: object
    RequestTimeMap:
      example:
        arrival_searches:
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 2161
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 2161
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 2161
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 2161
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - arrival_time: 2000-01-23T04:56:07.000+00:00
          range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 2161
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        unions:
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        departure_searches:
        - range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        - range:
            width: 26039
            enabled: true
          level_of_detail:
            level: lowest
            scale_type: simple
          id: id
          travel_time: 1208
          departure_time: 2000-01-23T04:56:07.000+00:00
          coords:
            lng: 9.301444243932576
            lat: 7.061401241503109
          properties:
          - null
          - null
          transportation:
            pt_change_delay: 0
            boarding_time: 2
            driving_time_to_station: 1
            disable_border_crossing: true
            cycling_time_to_station: 5
            type: cycling
            walking_time: 6
            parking_time: 5
        intersections:
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
        - id: id
          search_ids:
          - search_ids
          - search_ids
      properties:
        departure_searches:
          items:
            $ref: '#/components/schemas/RequestTimeMapDepartureSearch'
          maxItems: 10
          type: array
        arrival_searches:
          items:
            $ref: '#/components/schemas/RequestTimeMapArrivalSearch'
          maxItems: 10
          type: array
        unions:
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
          maxItems: 10
          type: array
        intersections:
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
          maxItems: 10
          type: array
      type: object
    ResponseSearchId:
      title: search_id
      type: string
    ResponseLocationId:
      title: id
      type: string
    ResponseTravelTime:
      title: travel_time
      type: integer
    ResponseDistance:
      title: distance
      type: integer
    ResponseTransportationMode:
      enum:
      - car
      - parking
      - boarding
      - walk
      - bike
      - train
      - rail_national
      - rail_overground
      - rail_underground
      - rail_dlr
      - bus
      - cable_car
      - plane
      - ferry
      - coach
      title: ResponseTransportationMode
      type: string
    ResponseDistanceBreakdownItem:
      example:
        distance: 1
      properties:
        mode:
          $ref: '#/components/schemas/ResponseTransportationMode'
        distance:
          title: distance
          type: integer
      required:
      - distance
      - mode
      title: ResponseDistanceBreakdownItem
      type: object
    ResponseFareTicket:
      example:
        price: 5.962133916683182
        currency: currency
        type: single
      properties:
        type:
          enum:
          - single
          - week
          - month
          - year
          title: type
          type: string
        price:
[...]
