{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "TravelTime Platform API",
    "termsOfService" : "https://www.traveltimeplatform.com/terms-and-conditions",
    "contact" : {
      "name" : "API Support",
      "email" : "support@igeolise.com"
    },
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "url" : "http://docs.traveltimeplatform.com"
  },
  "servers" : [ {
    "url" : "https://api.traveltimeapp.com"
  } ],
  "security" : [ {
    "ApplicationId" : [ ],
    "ApiKey" : [ ]
  } ],
  "paths" : {
    "/v4/time-filter" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/time-filter"
        },
        "operationId" : "timeFilter",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeFilter"
        },
        "responses" : {
          "200" : {
            "description" : "Given origin and destination points filter out points that cannot be reached within specified time limit. [Docs link](http://docs.traveltimeplatform.com/reference/time-filter)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeFilter"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/time-filter/postcodes" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/postcode-search"
        },
        "operationId" : "timeFilterPostcodes",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeFilterPostcodes"
        },
        "responses" : {
          "200" : {
            "description" : "Find reachable postcodes from origin and get statistics about such postcodes. [Docs link](http://docs.traveltimeplatform.com/reference/postcode-search/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeFilterPostcodes"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/time-filter/postcode-districts" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/postcode-search"
        },
        "operationId" : "timeFilterPostcodeDistricts",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeFilterPostcodeDistricts"
        },
        "responses" : {
          "200" : {
            "description" : "Find districts that have a certain coverage from origin and get statistics about postcodes within such districts. [Docs link](http://docs.traveltimeplatform.com/reference/postcode-district-filter/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeFilterPostcodeDistricts"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/time-filter/postcode-sectors" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/postcode-sector-filter"
        },
        "operationId" : "timeFilterPostcodeSectors",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeFilterPostcodeSectors"
        },
        "responses" : {
          "200" : {
            "description" : "Find sectors that have a certain coverage from origin and get statistics about postcodes within such sectors. [Docs link](http://docs.traveltimeplatform.com/reference/postcode-sector-filter/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeFilterPostcodeSectors"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/time-filter/fast" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/time-filter-fast"
        },
        "operationId" : "timeFilterFast",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeFilterFast"
        },
        "responses" : {
          "200" : {
            "description" : "A very fast version of Time Filter. [Docs link](http://docs.traveltimeplatform.com/reference/time-filter-fast/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeFilterFast"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/time-map" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/time-map"
        },
        "operationId" : "timeMap",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TimeMap"
        },
        "responses" : {
          "200" : {
            "description" : "Given origin coordinates, find shapes of zones reachable within corresponding travel time. [Docs link](http://docs.traveltimeplatform.com/reference/time-map/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeMap"
                }
              },
              "application/vnd.wkt+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeMapWkt"
                }
              },
              "application/vnd.wkt-no-holes+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeMapWkt"
                }
              },
              "application/vnd.bounding-boxes+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseTimeMapBoundingBoxes"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/routes" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/routes"
        },
        "operationId" : "routes",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/Routes"
        },
        "responses" : {
          "200" : {
            "description" : "Returns routing information between source and destinations. [Docs link](http://docs.traveltimeplatform.com/reference/routes/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseRoutes"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/v4/geocoding/search" : {
      "get" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/geocoding-search"
        },
        "operationId" : "geocodingSearch",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "within.country",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "focus.lat",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        }, {
          "name" : "focus.lng",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Match a query string to geographic coordinates. [Docs link](http://docs.traveltimeplatform.com/reference/geocoding-search/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseGeocoding"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/v4/geocoding/reverse" : {
      "get" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/geocoding-reverse"
        },
        "operationId" : "geocodingReverseSearch",
        "parameters" : [ {
          "name" : "focus.lat",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        }, {
          "name" : "focus.lng",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        }, {
          "name" : "within.country",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Match a query string to geographic coordinates. [Docs link](http://docs.traveltimeplatform.com/reference/geocoding-search/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseGeocoding"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/v4/map-info" : {
      "get" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/map-info"
        },
        "operationId" : "mapInfo",
        "responses" : {
          "200" : {
            "description" : "Returns information about currently supported countries. [Docs link](http://docs.traveltimeplatform.com/reference/map-info/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMapInfo"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/v4/supported-locations" : {
      "post" : {
        "externalDocs" : {
          "url" : "http://docs.traveltimeplatform.com/reference/supported-locations"
        },
        "operationId" : "supportedLocations",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SupportedLocations"
        },
        "responses" : {
          "200" : {
            "description" : "Find out what points are supported by our api. [Docs link](http://docs.traveltimeplatform.com/reference/supported-locations/)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseSupportedLocations"
                }
              }
            }
          },
          "default" : {
            "description" : "The json body returned upon error. [Docs link](http://docs.traveltimeplatform.com/reference/error-response)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseError"
                }
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    }
  },
  "components" : {
    "schemas" : {
      "Coords" : {
        "required" : [ "lat", "lng" ],
        "type" : "object",
        "properties" : {
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lng" : {
            "type" : "number",
            "format" : "double"
          }
        },
        "example" : {
          "lng" : 3.616076749251911,
          "lat" : 9.301444243932576
        }
      },
      "RequestSearchId" : {
        "type" : "string"
      },
      "RequestDepartureArrivalLocationOne" : {
        "type" : "string"
      },
      "RequestTravelTime" : {
        "maximum" : 14400,
        "minimum" : 60,
        "type" : "integer"
      },
      "RequestDepartureArrivalTime" : {
        "type" : "string",
        "format" : "date-time"
      },
      "ResponseLocalTime" : {
        "type" : "string"
      },
      "RequestRoutesProperty" : {
        "type" : "string",
        "enum" : [ "travel_time", "distance", "fares", "route" ]
      },
      "RequestTimeFilterProperty" : {
        "type" : "string",
        "enum" : [ "travel_time", "distance", "distance_breakdown", "fares", "route" ]
      },
      "RequestRangeEnabled" : {
        "type" : "boolean"
      },
      "RequestRangeWidth" : {
        "maximum" : 43200,
        "minimum" : 1,
        "type" : "integer"
      },
      "RequestRangeFull" : {
        "required" : [ "enabled", "max_results", "width" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean"
          },
          "max_results" : {
            "maximum" : 5,
            "minimum" : 1,
            "type" : "integer"
          },
          "width" : {
            "maximum" : 43200,
            "minimum" : 1,
            "type" : "integer"
          }
        },
        "example" : {
          "width" : 40182,
          "max_results" : 3,
          "enabled" : true
        }
      },
      "RequestRangeNoMaxResults" : {
        "required" : [ "enabled", "width" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean"
          },
          "width" : {
            "maximum" : 43200,
            "minimum" : 1,
            "type" : "integer"
          }
        },
        "example" : {
          "width" : 26039,
          "enabled" : true
        }
      },
      "RequestTimeFilterPostcodesProperty" : {
        "type" : "string",
        "enum" : [ "travel_time", "distance" ]
      },
      "RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold" : {
        "type" : "number",
        "format" : "double"
      },
      "RequestTimeFilterPostcodeDistrictsProperty" : {
        "type" : "string",
        "enum" : [ "travel_time_reachable", "travel_time_all", "coverage" ]
      },
      "RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold" : {
        "type" : "number",
        "format" : "double"
      },
      "RequestTimeFilterPostcodeSectorsProperty" : {
        "type" : "string",
        "enum" : [ "travel_time_reachable", "travel_time_all", "coverage" ]
      },
      "RequestTimeFilterPostcodeSectorsDepartureSearch" : {
        "required" : [ "coords", "departure_time", "id", "properties", "reachable_postcodes_threshold", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "reachable_postcodes_threshold" : {
            "type" : "number",
            "format" : "double"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeSectorsProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 1208,
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "reachable_postcodes_threshold" : 6.027456183070403,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterPostcodeSectorsArrivalSearch" : {
        "required" : [ "arrival_time", "coords", "id", "properties", "reachable_postcodes_threshold", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "reachable_postcodes_threshold" : {
            "type" : "number",
            "format" : "double"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeSectorsProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 2161,
          "reachable_postcodes_threshold" : 5.962133916683182,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterPostcodeDistrictsDepartureSearch" : {
        "required" : [ "coords", "departure_time", "id", "properties", "reachable_postcodes_threshold", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "reachable_postcodes_threshold" : {
            "type" : "number",
            "format" : "double"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 1208,
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "reachable_postcodes_threshold" : 6.027456183070403,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterPostcodeDistrictsArrivalSearch" : {
        "required" : [ "arrival_time", "coords", "id", "properties", "reachable_postcodes_threshold", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "reachable_postcodes_threshold" : {
            "type" : "number",
            "format" : "double"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 2161,
          "reachable_postcodes_threshold" : 5.962133916683182,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterPostcodesDepartureSearch" : {
        "required" : [ "coords", "departure_time", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodesProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 1208,
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterPostcodesArrivalSearch" : {
        "required" : [ "arrival_time", "coords", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodesProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 8703,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterDepartureSearch" : {
        "required" : [ "arrival_location_ids", "departure_location_id", "departure_time", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "departure_location_id" : {
            "type" : "string"
          },
          "arrival_location_ids" : {
            "maxItems" : 2000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
          "departure_location_id" : "departure_location_id",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 3361,
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilterArrivalSearch" : {
        "required" : [ "arrival_location_id", "arrival_time", "departure_location_ids", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "departure_location_ids" : {
            "maxItems" : 2000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "arrival_location_id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
          "arrival_location_id" : "arrival_location_id",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 5245,
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestArrivalTimePeriod" : {
        "type" : "string",
        "enum" : [ "weekday_morning" ]
      },
      "RequestTimeFilterFastProperty" : {
        "type" : "string",
        "enum" : [ "travel_time", "fares" ]
      },
      "RequestTimeFilterFastArrivalManyToOneSearch" : {
        "required" : [ "arrival_location_id", "arrival_time_period", "departure_location_ids", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "arrival_location_id" : {
            "type" : "string"
          },
          "departure_location_ids" : {
            "maxItems" : 100000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportationFast"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time_period" : {
            "$ref" : "#/components/schemas/RequestArrivalTimePeriod"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterFastProperty"
            }
          }
        },
        "example" : {
          "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
          "arrival_location_id" : "arrival_location_id",
          "id" : "id",
          "travel_time" : 1208,
          "properties" : [ null, null ],
          "transportation" : {
            "type" : "public_transport"
          }
        }
      },
      "RequestTimeFilterFastArrivalOneToManySearch" : {
        "required" : [ "arrival_location_ids", "arrival_time_period", "departure_location_id", "id", "properties", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "departure_location_id" : {
            "type" : "string"
          },
          "arrival_location_ids" : {
            "maxItems" : 100000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportationFast"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time_period" : {
            "$ref" : "#/components/schemas/RequestArrivalTimePeriod"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterFastProperty"
            }
          }
        },
        "example" : {
          "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
          "departure_location_id" : "departure_location_id",
          "id" : "id",
          "travel_time" : 8703,
          "properties" : [ null, null ],
          "transportation" : {
            "type" : "public_transport"
          }
        }
      },
      "RequestTransportationFast" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "public_transport", "driving", "driving+public_transport" ]
          }
        },
        "example" : {
          "type" : "public_transport"
        }
      },
      "RequestRoutesDepartureSearch" : {
        "required" : [ "arrival_location_ids", "departure_location_id", "departure_time", "id", "properties", "transportation" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "departure_location_id" : {
            "type" : "string"
          },
          "arrival_location_ids" : {
            "maxItems" : 2,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestRoutesProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
          "departure_location_id" : "departure_location_id",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestRoutesArrivalSearch" : {
        "required" : [ "arrival_location_id", "arrival_time", "departure_location_ids", "id", "properties", "transportation" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "departure_location_ids" : {
            "maxItems" : 2,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "arrival_location_id" : {
            "type" : "string"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestRoutesProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeFull"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
          "arrival_location_id" : "arrival_location_id",
          "range" : {
            "width" : 40182,
            "max_results" : 3,
            "enabled" : true
          },
          "id" : "id",
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeFilter" : {
        "required" : [ "locations" ],
        "type" : "object",
        "properties" : {
          "locations" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestLocation"
            }
          },
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterArrivalSearch"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 5245,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 5245,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 5245,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 5245,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 5245,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "departure_searches" : [ {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 3361,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 3361,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 3361,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 3361,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 3361,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "locations" : [ {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          }, {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          } ]
        }
      },
      "RequestTimeFilterPostcodes" : {
        "type" : "object",
        "properties" : {
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodesDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodesArrivalSearch"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "departure_searches" : [ {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ]
        }
      },
      "RequestTimeFilterPostcodeDistricts" : {
        "type" : "object",
        "properties" : {
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeDistrictsDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeDistrictsArrivalSearch"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "departure_searches" : [ {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ]
        }
      },
      "RequestTimeFilterPostcodeSectors" : {
        "type" : "object",
        "properties" : {
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeSectorsDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterPostcodeSectorsArrivalSearch"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "reachable_postcodes_threshold" : 5.962133916683182,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "departure_searches" : [ {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "reachable_postcodes_threshold" : 6.027456183070403,
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ]
        }
      },
      "RequestTimeFilterFastArrivalSearches" : {
        "type" : "object",
        "properties" : {
          "many_to_one" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterFastArrivalManyToOneSearch"
            }
          },
          "one_to_many" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeFilterFastArrivalOneToManySearch"
            }
          }
        },
        "example" : {
          "many_to_one" : [ {
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "id" : "id",
            "travel_time" : 1208,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "id" : "id",
            "travel_time" : 1208,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "id" : "id",
            "travel_time" : 1208,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "id" : "id",
            "travel_time" : 1208,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "id" : "id",
            "travel_time" : 1208,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          } ],
          "one_to_many" : [ {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "id" : "id",
            "travel_time" : 8703,
            "properties" : [ null, null ],
            "transportation" : {
              "type" : "public_transport"
            }
          } ]
        }
      },
      "RequestTimeFilterFast" : {
        "required" : [ "arrival_searches", "locations" ],
        "type" : "object",
        "properties" : {
          "locations" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestLocation"
            }
          },
          "arrival_searches" : {
            "$ref" : "#/components/schemas/RequestTimeFilterFastArrivalSearches"
          }
        },
        "example" : {
          "arrival_searches" : {
            "many_to_one" : [ {
              "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
              "arrival_location_id" : "arrival_location_id",
              "id" : "id",
              "travel_time" : 1208,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
              "arrival_location_id" : "arrival_location_id",
              "id" : "id",
              "travel_time" : 1208,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
              "arrival_location_id" : "arrival_location_id",
              "id" : "id",
              "travel_time" : 1208,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
              "arrival_location_id" : "arrival_location_id",
              "id" : "id",
              "travel_time" : 1208,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "departure_location_ids" : [ "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids", "departure_location_ids" ],
              "arrival_location_id" : "arrival_location_id",
              "id" : "id",
              "travel_time" : 1208,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            } ],
            "one_to_many" : [ {
              "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
              "departure_location_id" : "departure_location_id",
              "id" : "id",
              "travel_time" : 8703,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
              "departure_location_id" : "departure_location_id",
              "id" : "id",
              "travel_time" : 8703,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
              "departure_location_id" : "departure_location_id",
              "id" : "id",
              "travel_time" : 8703,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
              "departure_location_id" : "departure_location_id",
              "id" : "id",
              "travel_time" : 8703,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            }, {
              "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids", "arrival_location_ids" ],
              "departure_location_id" : "departure_location_id",
              "id" : "id",
              "travel_time" : 8703,
              "properties" : [ null, null ],
              "transportation" : {
                "type" : "public_transport"
              }
            } ]
          },
          "locations" : [ {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          }, {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          } ]
        }
      },
      "RequestRoutes" : {
        "required" : [ "locations" ],
        "type" : "object",
        "properties" : {
          "locations" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestLocation"
            }
          },
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestRoutesDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestRoutesArrivalSearch"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "departure_location_ids" : [ "departure_location_ids", "departure_location_ids" ],
            "arrival_location_id" : "arrival_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "departure_searches" : [ {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_location_ids" : [ "arrival_location_ids", "arrival_location_ids" ],
            "departure_location_id" : "departure_location_id",
            "range" : {
              "width" : 40182,
              "max_results" : 3,
              "enabled" : true
            },
            "id" : "id",
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "locations" : [ {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          }, {
            "id" : "id",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            }
          } ]
        }
      },
      "RequestTimeMapProperty" : {
        "type" : "string",
        "enum" : [ "is_only_walking" ]
      },
      "RequestUnionOnIntersection" : {
        "required" : [ "id", "search_ids" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "search_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "example" : {
          "id" : "id",
          "search_ids" : [ "search_ids", "search_ids" ]
        }
      },
      "RequestTimeMapDepartureSearch" : {
        "required" : [ "coords", "departure_time", "id", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "coords" : {
            "$ref" : "#/components/schemas/Coords"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "departure_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeMapProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeNoMaxResults"
          }
        },
        "example" : {
          "range" : {
            "width" : 26039,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 1208,
          "departure_time" : "2000-01-23T04:56:07.000+00:00",
          "coords" : {
            "lng" : 3.616076749251911,
            "lat" : 9.301444243932576
          },
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeMapArrivalSearch" : {
        "required" : [ "arrival_time", "coords", "id", "transportation", "travel_time" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "coords" : {
            "$ref" : "#/components/schemas/Coords"
          },
          "transportation" : {
            "$ref" : "#/components/schemas/RequestTransportation"
          },
          "travel_time" : {
            "maximum" : 14400,
            "minimum" : 60,
            "type" : "integer"
          },
          "arrival_time" : {
            "type" : "string",
            "format" : "date-time"
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeMapProperty"
            }
          },
          "range" : {
            "$ref" : "#/components/schemas/RequestRangeNoMaxResults"
          }
        },
        "example" : {
          "arrival_time" : "2000-01-23T04:56:07.000+00:00",
          "range" : {
            "width" : 26039,
            "enabled" : true
          },
          "id" : "id",
          "travel_time" : 2161,
          "coords" : {
            "lng" : 3.616076749251911,
            "lat" : 9.301444243932576
          },
          "properties" : [ null, null ],
          "transportation" : {
            "pt_change_delay" : 0,
            "boarding_time" : 5,
            "driving_time_to_station" : 1,
            "type" : "cycling",
            "walking_time" : 6,
            "parking_time" : 5
          }
        }
      },
      "RequestTimeMap" : {
        "type" : "object",
        "properties" : {
          "departure_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeMapDepartureSearch"
            }
          },
          "arrival_searches" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestTimeMapArrivalSearch"
            }
          },
          "unions" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestUnionOnIntersection"
            }
          },
          "intersections" : {
            "maxItems" : 10,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RequestUnionOnIntersection"
            }
          }
        },
        "example" : {
          "arrival_searches" : [ {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "arrival_time" : "2000-01-23T04:56:07.000+00:00",
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 2161,
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          } ],
          "unions" : [ {
            "id" : "id",
            "search_ids" : [ "search_ids", "search_ids" ]
          }, {
            "id" : "id",
            "search_ids" : [ "search_ids", "search_ids" ]
          }, {
            "id" : "id",
            "search_ids" : [ "search_ids", "search_ids" ]
          }, {
            "id" : "id",
            "search_ids" : [ "search_ids", "search_ids" ]
          }, {
            "id" : "id",
            "search_ids" : [ "search_ids", "search_ids" ]
          } ],
          "departure_searches" : [ {
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
            "range" : {
              "width" : 26039,
              "enabled" : true
            },
            "id" : "id",
            "travel_time" : 1208,
            "departure_time" : "2000-01-23T04:56:07.000+00:00",
            "coords" : {
              "lng" : 3.616076749251911,
              "lat" : 9.301444243932576
            },
            "properties" : [ null, null ],
            "transportation" : {
              "pt_change_delay" : 0,
              "boarding_time" : 5,
              "driving_time_to_station" : 1,
              "type" : "cycling",
              "walking_time" : 6,
              "parking_time" : 5
            }
          }, {
[...]
